NODE_ENV=development  
PORT=8081
#app hostname
HOST_NAME=localhost

MONGO_DB_URL=mongodb://localhost:27017/mydatabase
JWT_SECRET=your_jwtsecret
JWT_EXPIRED=your_jwtexpired

GOOGLE_CLIENT_ID=672007328004-ulrqqgtah8i30rjrlon2of3loi3k8jp5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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